<div id="message_<%= message.id %>" class="message_block" data-controller="message" data-user-id = "<%= message.user.id %>">
    <div class="messageAvatar">
        <% if message.user.avatar.attached? %>
            <%= image_tag url_for(message.user.avatar), size: "50x50", class: "img-circle" %>
        <% else %>
            <%= image_tag "default_avatar.png", size: "50x50" %>
        <% end %>
    </div>
    <% if !message.room.is_private %>
        <p class="name"> <%= message.user.username %></p>
    <% end %>
    <%= message.content %>
</div>