<div id="message_<%= message.id %>" class="message_block d-flex flex-row justify-content-start " data-controller="message" data-user-id = "<%= message.user.id %>">
    <div class="messageAvatar">
        <% if message.user.avatar.attached? %>
            <%= image_tag url_for(message.user.avatar), size: "50x50", class: "img-circle" %>
        <% else %>
            <%= image_tag "default_avatar.png", size: "50x50" %>
        <% end %>
    </div>
    <div class="d-flex flex-column">
    <% if !message.room.is_private %>
        <% if message.user == logged_user %>
        <div class="name_current_user">You</div></br>
        <% else %>
        <div class="name"> <%= message.user.username %></div></br>
        <% end %>
    <% end %>
    <%= message.content %>
    </div>
</div>