<section class="bg-dark p-2">
    <%= turbo_stream_from "rooms" %>
    <div id="rooms">
        <h1 class="text-white"><%= @user&.username || @single_room.name %></h1>
    </div>
    <div id="room_container" class="bg-dark vh-100" data-controller="scroll" data-scroll-target="messages" >
        <% if @room %>
            <div id="room" >
                <%= turbo_stream_from @single_room %>
                <div id="messages">
                    <%= render @messages %>
                </div>
            </div>
        <% end %>
    </div>
    <%= render "layouts/new_message_form" %>
</section>